@import url(../../../stylesheets/application.css);
@import url(font-awesome.css);
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(theme.css);
@import url(color_tasks.css);
@import url(DMSF.css);
@import url(buttons.css);
@import url(forum.css);
@import url(news.css);
@import url(pagination.css);
@import url(redminebacklogs.css);
@import url(activity.css);

html{
  overflow-x: hidden;
}
body {
  font-family: 'Lato', Helvetika, Calibri, Arial, sans-serif;
  font-size: 100%;
  padding: 0 !important;
  margin: 0;
  position: relative;
  left: 0;
  right: 0;
}
h1, h2, h3, h4 {
  font-family: 'Lato', Helvetika, Calibri, Arial, sans-serif;
  padding: 2px 10px 1px 0px;
  margin: 0 0 10px 0;
}

h1:first-letter{
  text-transform: capitalize;
}
#top-menu{
  background: #FFF;
  border-bottom: 4px solid #47a3da;
  color: #999;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 100;
  position: fixed;
  left: -240px;
  text-transform: uppercase;
  border-right: 2px solid #eeeff3;
  padding: 0;
  background-color: #354051;
  line-height: 40px;
}

#top-menu a {
  color: #a0abbe;
  margin-right: 0px;
  font-size: 16px;
}

#top-menu a:hover {
  color: #47a3da;
  text-decoration: none;
}

#top-menu #loggedas {
  float: right;
  margin-right: 0.5em;
  color: #999;
  font-size: 15px;
}

#top-menu ul li {
  float: none;
}

#top-menu > ul{
  margin-top: 20px;
  padding: 0 0 20px 20px;
  border-bottom: 3px solid #2d3747;
}
#top-menu, .menu-push-toright, body, #menu, #quick-search {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#menu{
  left: 0;
  top: 0px;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 10px;
  position: fixed;
  border: 2px solid #eeeff3;
  border-top: none;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.9);
}

#top-menu.open{
  left: 0;
}

.menu-push-toright{
  left: 240px;
}
#menu.menu-push-toright{
  left: 240px;
}

#quick-search.menu-push-toright{
  left: 300px;
}

label[for="q"]{
  display: none;
}

#header{
  padding-left: 80px;
  padding-top: 80px;
  background-color: #fefefe;
  color: #fefefe;
}

#header h1{
  color: #4e515e;
  margin-left: -40px;
}
#header h1 a{
  color: #4e515e;
}
#header a{
  color: #fefefe;
}

#quick-search {
  position: fixed;
  left: 60px;
  top: 0;
  /*padding-top: 8px;*/
  height: 53px;
  margin-left: 15px;
  border: 3px;
  border: 2px solid #eeeff3;
  border-top: none;
  right: 0;
  border-right: 0;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 101;
}

#quick-search form {
  display: block;
  height: 100%;
  margin-right: 310px;
}

#quick-search input{
  padding: 0 20px !important;
  height: 100%  !important;
  /*width: calc(100% - 2em);*/
  border: none;
  width: 100%;
  background: transparent;
  color: rgba(0,0,0,0.8);
  font-size: 1em;
  line-height: 1;
  /*opacity: 0;*/
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.s;
}

#top-menu #loggedas{
  font-size: 0;
  border-bottom: 3px solid #2d3747;
  text-align: center;
  margin-top: 10px;
  float: none;
  line-height: 25px;
  padding-bottom: 5px;
}

#account{
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
  margin-left: 20px;
}
#account .tt_start, #account .tt_stop{
  padding: 0px;
}
#top-menu .logout{
  color: #ad66ad;
}
#header{
  border-bottom: 2px solid #dee4e9;
}
/*=========MAIN MENU=======*/
#main-menu li a.selected,
#main-menu li a.selected:hover {
  border-bottom: 3px solid #40aff8;
}
#main-menu li a:hover {
  border-bottom: 3px solid #40aff8;
}
#main-menu li a {
  color: #848f9f;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 4px 5px 4px 5px;
}
#main-menu li a:hover {
  background: none;
  color: #000;
  border-bottom: 3px solid #40aff8;
}
#content{
  width: 81%;
  background-color: #ebf1f5;
  padding-left: 20px;
}

/*==========FALSH NOTICE======*/
div.flash.notice{
  border: none;
  border-left: 20px solid #1ABB9B;
  background: none;
  background-color: rgba(0,255,0,0.1);
  padding-left: 10px;
  border-radius: 4px;
}
div.flash.error, #errorExplanation{
  border: none;
  border-left: 20px solid #880000;
  background: none;
  background-color: rgba(255,0,0,0.1);
  padding-left: 10px;
  border-radius: 4px;
}
div.flash.error, #errorExplanation ul{
  margin: 2px;
}
p.nodata{
  border: none;
  border-left: 20px solid #FDBF3B;
  background: none;
  background-color: #FFEBC1;
  padding-left: 10px;
  border-radius: 4px;
}
/*==========CALENDAR==========*/
#ui-datepicker-div{
  padding: 0;
}
.ui-datepicker-header{
  background: #6f7c93;
  border: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{
  border-radius: 0px !important;
}
.ui-datepicker table{
  display: block;
}
.ui-datepicker table .ui-datepicker-week-col{
  padding-left: 20px;
}
#s2id_project_quick_jump_box, #project_quick_jump_box,
.select2-drop.select2-with-searchbox.select2-drop-active{
  position: fixed;
  top: 10px;
  right: 10px;
}


#sidebar {
  width: 15% !important;
}
#sidebarHandler,
#hideSidebarButton {
  position: absolute !important;
  margin-top: -12px !important;
  top: 50% !important;
}

.icon-file.application-pdf {
  background-repeat: no-repeat;
  padding-left: 26px;
}

.icon.icon-folder:before {
  content: "\f07b";
  display: inline-block;
  width: 23px;
}
/*============ ISSUE ===========*/
div.issue { background: #f6f6f6; }
/*============ SELECT ==========*/
select {
    background: #fff;
    border-color: #cccccc;
    outline:none;
    display: inline-block;
    cursor:pointer;
}
/*=========== MY PAGE ==========*/
tr.time-entry {
  white-space: normal !important;
}
/*=========== LOGO ============*/
.redmine-logo{
  margin: auto;
  width: 200px;
  height: 45px;
  background-image: url('../images/redmine_logo.png');
  background-size: 200px;
  background-repeat: no-repeat;
}
/*=========== RedmineCRM ======*/
/* TODO: Find a way rewrite it */
select[onchange="if (this.value != '') { window.location = this.value; }"]{
  position: fixed;
  top: 17px;
  right: 10px;
}

